.container {
    max-width: 505px;
    height: auto;
    margin: 40px auto;
    padding: 35px;
    font-size: 20px;
    color: white;
    box-shadow: 0px 0px 4px 7px rgba(196, 201, 204, 0.51);
    text-align: center;
    background-color: #0a0d00;
    background-image: url("https://transparenttextures.com/patterns/escheresque.png");

}